<div class="navbar">
    <a href="/" class="logo">
        <img src="./images/logoCALSolo.png" alt="">
    </a>
    <div id="toggle-menu-nav" class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<div id="menu-principal" class="menu-navbar">
    <div class="blur"></div>
    <div class="nav-container">
        <div class="menu">
            <h1 class="titulo-navbar">Cloud Apps Lab</h1>
            <a class="item-menu" href="demo">DEMO</a>
            <a class="item-menu" href="work">OUR WORK</a>
            <a class="item-menu" href="about">ABOUT US</a>
        </div>
        <div class="black-menu">
            <a class="black-item" >CONTACT US</a>  
        
                <div class="icon-socials">
                        <!-- <a class="social-media" href="https://www.linkedin.com/company/tsystemsmexico/mycompany/" target="_blank"> -->
                        <a class="social-media">
                            <img src="icons/LinkedIn.png">
                        </a>
                            
                        <!-- <a class="social-space social-media" href="https://twitter.com/TSystemsMX" target="_blank"> -->
                        <a class="social-space social-media">
                            <img src="icons/Twitter.png">
                        </a>
                            
                        <!-- <a class="social-media" href="https://www.facebook.com/TSystemsMX/" target="_blank"> -->
                        <a class="social-media">
                            <img src="icons/Facebook.png">
                        </a>
                </div>
        </div>
        <div class="blur"></div>
    </div>
</div>
