<section class="cards-section">
    
    <div class="card-wrapper">
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
        <div class="card">
            <div class="first-info">
                <h1>imagen</h1>
                <h1>nombre</h1>
            </div>
            <div class="semblanza-container hide-semblanza">
                <h1>semblanza</h1>
            </div>
        </div>
    </div>

</section>