<section class="cards-section">   
    <div class="card-tittle">
        <h1>About Us</h1>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="./images/alexa.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Alexa Orive</h3>
                    <p class="text-card">Visual Information Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">I am working on the branding and website design of the Cloud Apps Lab. This oportunity will allow me to learn and offer solutions through design.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/serch.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Sergio Espejel</h3>
                    <p class="text-card">Scrum Master of Advisory and Back-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">For me, being in the Cloud Apps Lab offers the opportunity to experience a new way of working, tackle complex problems and challenge the current solutions to make them simpler, fairer and more secure.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/wil.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Wilfredo Tablero</h3>
                    <p class="text-card">Scrum Master of Technology and Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">Im working in the front-end and Back-end of the Lab, the lab for me is a huge opportunity to learn and grow in a professional way.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/alex.jpg" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Alexander Díaz</h3>
                    <p class="text-card">Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">CAL has provided me with the opportunity to acquire relevant work experience through the development of business-oriented projects.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/sosa.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Alex Sosa</h3>
                    <p class="text-card">Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">What I like the most about CAL is that we have complete freedom, allowing us to innovate, learn and grow at our own pace, which produces the best results.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/dani.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Daniel Laug</h3>
                    <p class="text-card">Front-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">I am working in the front-end laboratory, and for me working on this project has meant an incredible learning opportunity, allowing me to know what the work area of the career is.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/jona.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Jonathan Valencia</h3>
                    <p class="text-card">Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">The lab is a new and unique space where new, young and innovative minds can develop our ideas. As a programmer, I am excited by the idea of having a space where I can create and program all my ideas that can generate significant value.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/maju.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Maria José Reynal</h3>
                    <p class="text-card">Process Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">I work in the process design area of the lab, which is helping me develop new skills and abilities for the professional world.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/jime.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Jimena Bautista</h3>
                    <p class="text-card">Process Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">I’m writing the story of the lab to be known, for me the lab is a great chance to learn and acquire professional experience.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/andres.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Andrés Sámano</h3>
                    <p class="text-card">UI Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">In my opinion being in the lab is very useful because it helps us to learn how to create websites with certain animation effects, which can be of great interest for the user to interact better with the page.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/armando.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Armando Rivera</h3>
                    <p class="text-card">UX Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">the lab is a great place to learn new things, develop innovative systems and meet people who are passionate about making quality software</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/issac.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Issac Ortiz</h3>
                    <p class="text-card">Front-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">This tool will be of great help for the development of future projects carried out by large businesses with innovative ideas.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/aldair.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Aldair Marrufo</h3>
                    <p class="text-card">Process Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">In this area, new ideas can be developed to automate and optimize processes through creativity and innovation. Working in this field is a great opportunity to face challenges and acquire new knowledge that will be useful in my professional life.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/lupita.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">María de Guadalupe Ponce</h3>
                    <p class="text-card">Database Architect</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">Working in the laboratory has given me the opportunity to develop new skills and apply my knowledge to find innovative solutions that generate great value.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/RodrigoEsc.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Rodrigo Escobedo</h3>
                    <p class="text-card">Product Owner of SHS</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">During my time in the lab, I have been able to participate in different projects that helped me understand the design thinking process, which has allowed me, overall, to grow as an engineer.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/AlexOllivier.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Alejandro Ollivier</h3>
                    <p class="text-card">Full-stack developer, Notion and Figma consultant</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">My acquisition in CAL was a major part of the Front-end development, the Design Thinking Process and the SCRUM Methodology. The lab has made me grow and develop professionally.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/JaimeMartinez.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Jaime Alejandro Andrés Martínez</h3>
                    <p class="text-card">Lab Identity Responsable</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">During all this time that I have been in the cloud alchemy laboratory, I have had the opportunity to learn to use different tools of the design thinking process and to be able to use them in different work problems and even for daily life.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/CarlosMtz.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Carlos Martínez</h3>
                    <p class="text-card">Product Owner “50 ways to start living the T-Mindset”</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">Thanks to the lab I have been able to learn new subjects such as Desing Thinking, but it is not only about learning, the real benefit is we actually apply it in real life.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/LluviaHdz.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3 class="text-card">Lluvia Hernández Reyna</h3>
                    <p class="text-card">DT Jr. Consultant & Product Owner</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p class="text-card">I have learned to think critically and look for practical solutions to meet customer needs. To be a group leader and organize times. Also, to create products that add real value to users.</p>
                </div>
            </div>
        </div>
    </div>

</section>