<section class="cards-section">   
    <div class="card-tittle">
        <h1>About Us</h1>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="./images/alexa.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Alexa Orive</h3>
                    <p>Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>I am working on the branding and website design of the Cloud Apps Lab. This oportunity will allow me to learn and offer solutions through design.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/serch.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Sergio Espejel</h3>
                    <p>Scrum Master of Advisory and Back-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>For me, being in the Cloud Apps Lab offers the opportunity to experience a new way of working, tackle complex problems and challenge the current solutions to make them simpler, fairer and more secure.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/wil.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Wilfredo Tablero</h3>
                    <p>Scrum Master of Technology and Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>Im working in the front-end and Back-end of the Lab, the lab for me is a huge opportunity to learn and grow in a professional way.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/alex.jpg" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Alexander Díaz</h3>
                    <p>Full-Stack Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>CAL has provided me with the opportunity to acquire relevant work experience through the development of business-oriented projects.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/dani.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Daniel Laug</h3>
                    <p>Front-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>I am working in the front-end laboratory, and for me working on this project has meant an incredible learning opportunity, allowing me to know what the work area of the career is.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/jona.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Jonathan Valencia</h3>
                    <p>Back-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>The lab is a new and unique space where new, young and innovative minds can develop our ideas. As a programmer, I am excited by the idea of having a space where I can create and program all my ideas that can generate significant value.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/maju.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Maria José Reynal</h3>
                    <p>Process Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>I work in the process design area of the lab, which is helping me develop new skills and abilities for the professional world.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/jime.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Jimena Bautista</h3>
                    <p>Process Designer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>I’m writing the story of the lab to be known, for me the lab is a great chance to learn and acquire professional experience.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/andres.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Andrés Sámano</h3>
                    <p>UI Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>In my opinion being in the lab is very useful because it helps us to learn how to create websites with certain animation effects, which can be of great interest for the user to interact better with the page.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/armando.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Armando Rivera</h3>
                    <p>UX Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>the lab is a great place to learn new things, develop innovative systems and meet people who are passionate about making quality software</p>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="./images/issac.png" alt="">
            <div class="first-info">
                <div class="text-container-card">
                    <h3>Issac Ortiz</h3>
                    <p>Front-end Developer</p>
                </div>
                <div class="semblanza-container hide-semblanza">
                    <p>This tool will be of great help for the development of future projects carried out by large businesses with innovative ideas.</p>
                </div>
            </div>
        </div>
    </div>

</section>