<section id="third-section">
    <div class="tabla">
        <div id="section3-image">
            <img src="../images/imagen3.png" alt="">
        </div>
        <div id="section3-text">
            <h3>The Cloud Apps Lab mission </h3>
            <h4 id="section3-regular-text">is to be the ultimate tool for </h4>
            <h4 id="section3-bold-text">being a strong enabler for digital transformation.</h4>
        </div>
    </div>
</section>