<section id="section-principal" class="container-videos">
    <h1 class="first-video-tittle">
        Hiring Proccess
    </h1>
    <iframe 
        width="525" 
        height="275" 
        src="https://www.youtube.com/embed/NEP0dde2hEA" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>