<section id="section-principal" class="section1">

    <div class="container-section1">
        <h1 class="titulo-section1" data-aos="zoom-in">Cloud Alchemy</h1>
        <div class="hr-container" data-aos="zoom-in">
            <hr>
        </div>
        <h3 class="subtitulo-section1" data-aos="fade-left" data-aos-delay="500">Creative & talented minds</h3>
    </div>
    
</section>