.cards-section{
    width: 100%;
    height: 200vh;
    background-image: url(../images/aboutBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    align-items: center;
    justify-content: center;
}

.card-tittle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

.card-tittle h1{
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: bold;
}

.card{
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    height: 300px;
}

.card img{
    width: 100%;
}

.text-card{
    color: white;
    text-align: center;
}

.card p{
    font-weight: 200;
}

.first-info{
    position: relative;
    bottom: 50px;
    opacity: 1;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-container-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-magenta);
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
}

.semblanza-container{
    background-color: var(--color-magenta);
    /* position: relative; */
    /* bottom: 100px; */
    display: flex;
    /* border-radius: 10px 10px 0 0; */
    justify-content: center;
    align-items: center;
    opacity: 1;
    padding: 5px;
    transition: all 0.4s;
}

.semblanza-container p{
    font-size: 0.8rem;
}

.hide-semblanza{
    /* bottom: 0; */
    display: none;
    overflow: hidden;
    /* display: none; */
}

.move-info{
    bottom: 50%;
}

@media only screen and (max-width: 900px){
    
    .cards-section{
        height: 270vh;
        justify-content: flex-start;
    }

    .card-wrapper{
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(7, 225px);
        /* grid-template-rows: repeat(10, min-content); */
        grid-column-gap: 10px;
        grid-row-gap: 0px;
    }

    .card{
        width: 175px;
        height: 150px;
    }

    .card-tittle{
        margin: 0;
        margin-top: 10vh;
    }

    .text-container-card{
        height: 50px;
    }
}