:root{
    --font-family: 'Poppins';
    --color-text: white;
    --color-magenta: #e20074;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
}

/*-----Navbar -----*/

.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: fixed;
    top: 0;
    z-index: 7;
}

.hamburger{
    height: 50%;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    background-color: white;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    content: "";
    margin: 2.5px 0;
}

.logo{
    width: 15%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
}

.blur{
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
}

.menu-navbar{
    position: fixed;
    width: 100%;
    left: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s;
}

.nav-container{
    width: 50%;
    height: 100vh;
}

.active{
    left: 0%;
}

.menu{
    width: 100%;
    height: 60%;
    background-color: var(--color-magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-navbar{
    color: var(--color-text);
    font-size: 200%;
    font-weight: bold;
    margin: 20px 0;
}

.black-menu{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu{
    color: var(--color-text);
    font-size: 100%;
    text-decoration: none;
    margin: 30px 0;
}

.item-menu:hover{
    color: black;
}

.black-item{
    color: var(--color-text);
    font-size: 100%;
    text-decoration: none;
    margin: 30px 0;
}

.black-item:hover{
    color: var(--color-magenta);
}

/* Final Navbar */


/*----- Seccion 1 -----*/
/*-----Section 1 / Background -----*/
.section1{
    background-image: url('../images/image2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section1{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.titulo-section1{
    color: var(--color-text);
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 10px;
}

.subtitulo-section1{
    color: var(--color-text);
    font-weight: 700;
    font-size: 1rem;
    font-size: 15pt;
    margin-bottom: 10px;
    text-align: center;
}

/*----- Final Seccion 1 -----*/


/*----- Seccion 2 -----*/

.section2 {
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../images/image1.jpg");
}

.section2-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} 

.first-title {
    text-align: center;
    color: var(--color-text);
    font-size: 60px;
    font-weight: bold;
}

.second-title {
    color: var(--color-text);
    font-size: 25px;
    font-weight: lighter;
}

.third-title {
    text-align: right;
    color: var(--color-magenta);
    font-size: 70px;
    font: normal normal medium;
    letter-spacing: 5.0px;
    font-weight: 500;
    opacity: 1;
}

.fourth-title {
    /* border-right: thick solid #fff; */
    text-align: right;
    color: var(--color-text);
    font-size: 60px;
    font-weight: bold;
}

.fifth-title{
    margin-left: 10px;
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
}

.top-tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 100px;
}

.little{
    width: 50%;
}

.v-line {
    border-right: thick solid #fff;
    height: 30%;
    margin: 20px 0;
}

.paragraph {
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
    margin: 20px 0;
}

.paragraph-optional {
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
}

.title-container {
    width: 50%;
    text-align: center;
}

.section2-2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vertical-line{
    border: 2px solid white;
    margin: 0 30px;
    /* width: 20px; */
    height: 100%;
    background-color: white;
}

.p-wrapper{
    display: flex;
    flex-direction: column;
}

.hide{
    display: none !important;
}

/*----- Final Seccion 2 -----*/

/*----- Seccion 4 -----*/

.section4{
    background-image: url('../images/image4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-4{
    color: var(--color-text);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.heading-4 strong{
    color: var(--color-magenta);
}

.semi-circulo {
    width: 350px; 
    height: 350px;
    border: 2px solid var(--color-magenta); 
    background: var(--color-magenta);
    -moz-border-radius: 100px 100px 0 0;
    -webkit-border-radius: 100px 100px 0 0;
    border-radius: 350px 350px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    width: 80%;
    height: 100vh;
    bottom: 10px;
}

.content-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.num-4 {
    color: var(--color-text);
    margin-bottom: 40px;
    font-size: 3rem;
    font-weight: bold;
}

.desc-4 {
    color: var(--color-text);
    font-weight: lighter;
    text-align: center;
    margin: 0 20px;
    font-size: 1.3rem;
}
/*----- Final Seccion 4 -----*/
