:root{
    --font-family: 'Poppins';
    --font-family-secondary: 'TeleNeo Regular';
    --font-family-secondary-bold: 'TeleNeo Bold';
    --color-text: white;
    --color-magenta: #e20074;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

/* Fuentes para las secciones 3 - 5
   Se referencian de esta manera porque no se encuentran en Google Fonts
   https://www.cufonfonts.com/font/teleneo-office 
 */
@font-face {
    font-family: "TeleNeo Regular";
    src: url(../fonts/Tele\ Neo\ Thin.otf);
    font-weight: normal;
}

@font-face {
    font-family: "TeleNeo Bold";
    src: url(../fonts/Tele\ Neo\ Extrabold.otf);
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
}

/*-----Navbar -----*/

.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    position: fixed;
    top: 0;
    z-index: 7;
}

.hamburger{
    height: 50%;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line{
    background-color: white;
    width: 20px;
    height: 3px;
    border-radius: 10px;
    content: "";
    margin: 2.5px 0;
}

.logo{
    width: 15%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 100%;
}

.blur{
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    height: 100vh;
    width: 100%;
}

.menu-navbar{
    position: fixed;
    width: 100%;
    left: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.5s;
}

.nav-container{
    width: 50%;
    height: 100vh;
}

.active{
    left: 0%;
}

.menu{
    width: 100%;
    height: 60%;
    background-color: var(--color-magenta);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-navbar{
    color: var(--color-text);
    font-size: 200%;
    font-weight: bold;
    margin: 20px 0;
}

.black-menu{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-menu{
    color: var(--color-text);
    font-size: 100%;
    text-decoration: none;
    margin: 30px 0;
}

.item-menu:hover{
    color: black;
}

.black-item{
    color: var(--color-text);
    font-size: 100%;
    text-decoration: none;
    margin: 30px 0;
}

.black-item:hover{
    color: var(--color-magenta);
}

/* Final Navbar */


/*----- Seccion 1 -----*/
/*-----Section 1 / Background -----*/
.section1{
    background-image: url('../images/image2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-section1{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.titulo-section1{
    color: var(--color-text);
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 10px;
}

.subtitulo-section1{
    color: var(--color-text);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: center;
}

/*----- Final Seccion 1 -----*/


/*----- Seccion 2 -----*/

.section2 {
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../images/image1.jpg");
}

.section2-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} 

.first-title {
    text-align: center;
    color: var(--color-text);
    font-size: 60px;
    font-weight: bold;
}

.second-title {
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
}

.third-title {
    text-align: right;
    color: var(--color-magenta);
    font-size: 70px;
    font: normal normal medium;
    letter-spacing: 5.0px;
    font-weight: 500;
    opacity: 1;
}

.fourth-title {
    border-right: thick solid #fff;
    text-align: right;
    color: var(--color-text);
    font-size: 60px;
    font-weight: bold;
}

.fifth-title{
    margin-left: 10px;
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
}

.tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.v-line {
    border-right: thick solid #fff;
    height: 30%;
    margin: 20px 0;
}

.paragraph {
    text-align: left;
    color: var(--color-text);
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    align-items: center;
}

.title-container {
    width: 50%;
    text-align: center;
}

/*----- Final Seccion 2 -----*/

/*----- Sección 3 -----*/
#third-section {
    background-color: #131317;
    height: 100vh;
}

#section3-image {
    border: 5px solid red;
    width: 57%;
}

#section3-image img {
    width: 50%;
    /* border: 200px solid red; */
    border-radius: 150px 500px 300px 50px;
}

#section3-text {
    border: 5px solid blue;
}

#section3-text h3 {
    color: var(--color-magenta);
}

#section3-text h4 {
    color: var(--color-text);
}

#section3-regular-text {
    font-family: var(--font-family-secondary);
}

#section3-bold-text {
    font-family: var(--font-family-secondary-bold);
}
/*----- Final Sección 3 -----*/