.wrapper-work{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/workBackground.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper-work h1{
    color: var(--color-text);
    font-size: 2rem;
}

.wrapper-work img{
    width: 50%;
}

@media only screen and (max-width: 900px){
    .wrapper-work img{
        width: 90%;
        margin-top: 50px;
    }
    .wrapper-work{
        height: 90vh;
    }
}
