.wrapper-work{
    width: 100%;
    height: 85vh;
    background-color: white;
    /* background-image: url(../images/workBackground.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.work-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.flecha-container{
    width: 15px;
    padding-top: 80px;
}

.flecha{
    width: 100%;
    cursor: pointer;
}

.paginacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.boton{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: black;
    margin: 0 10px;
    opacity: 0.2;
}

.flecha-opaca{
    width: 100%;
    opacity: 0.5;
    cursor: not-allowed;
}

.selected{
    opacity: 1;
}

.rotacion-izquierda{
    transform: rotate(180deg);
}
.vertical-line{
    border: 2px solid white;
    margin: 0 30px;
    /* width: 20px; */
    height: 100%;
    background-color: white;
}

.hide{
    display: none !important;
}

.text-container-sec2{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.h1-work-wrapper{
    width: 70%;
}

.work-h1{
    color: var(--color-third);
    font-size: 2.2rem;
    font-weight: 600;
}

.tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: auto;
    width: 90%;
    margin: 100px 0 70px 0;
}

.type-work{
    color: var(--color-magenta);
    font-size: 2.5rem;
    font-weight: 500;
}

.vertical-line{
    border: 1px solid var(--color-magenta);
    margin: 0 30px;
    /* width: 20px; */
    height: 100%;
    background-color: var(--color-magenta);
}

.p-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.work-explanation{
    font-family: var(--font-family-secondary-2);
    font-size: 1.5rem;
}

.work-explanation strong{
    font-family: var(--font-family-secondary-bold-2);
}

.work-optional{
    margin-top: 20px;
}

@media only screen and (max-width: 900px){
    .wrapper-work img{
        width: 90%;
        margin-top: 50px;
    }
    .wrapper-work{
        height: 90vh;
    }
}
