<section id="third-section">
    
    <div class="main-wrapper-3">
        <div class="wrapper-image-circle">
            <div class="imagen-semi-circulo" id="section3-image"></div>
        </div>

        <div id="section3-text">
            <h3 id="section3-regular-text"> <strong>The Cloud Apps Lab mission</strong> is to be your <strong>strong enabler for digital transformation.</strong> </h3>
        </div>
    </div>
    
</section>
