<section id="third-section">
    <div class="main-wrapper-3">
        <div class="wrapper-image-circle">

            <div class="imagen-semi-circulo" id="section3-image"></div>
        </div>

        <div id="section3-text">
            <span class="section3-regular-text" style="--n:80"> <strong>The Cloud Apps Lab mission </strong>  is to be the ultimate tool for <strong> being a strong enabler for digital transformation. </strong> </span>
        </div>

    </div>
</section>