<section class="section4">
    <div class="agrupado-wrapper circulos">
        <div class="section5-text">
            <h1 class="text-90">Cloud Apps Lab: <strong>Core Value</strong></h1>
        </div>
        <div class="circles-wrapper">
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">1</h1> 
                    <h3 class="desc-4-new"> Identify a product or service (DT or customer's) that we want to enhance.</h3>
                </div>
            </div>
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">2</h1> 
                    <h3 class="desc-4-new"> Deep dive into the service Value chain behind the customer experience journey. </h3>
                </div>
            </div>
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">3</h1> 
                    <h3 class="desc-4-new"> Lean the functions and roles needed to optimize The value stream.</h3>
                </div>
            </div>
            <!-- <div class="last-circles"> -->
                <div class="semi-circulo-new center-circle">  
                    <div class="content-circle">
                        <h1 class="num-4-new">4</h1> 
                        <h3 class="desc-4-new"> Completely digitize processes and automate the most you need.</h3>
                    </div>
                </div>
                <div class="semi-circulo-new center-circle last-grid">  
                    <div class="content-circle">
                        <h1 class="num-4-new">5</h1> 
                        <h3 class="desc-4-new">Measure everything and use the data provided to improve your business service.</h3>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>