<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 3000,
        once: true,
      });
    </script>
<script src="./js/efectoEscritura.js"></script>
<script src="./js/section1.js"></script>
<script src="./js/section2.js"></script>
<script src="./js/scrollFade.js"></script>
<script src="./js/about.js"></script>
</body>

</html>