<div class="footer">
    <div class="footer-container">
        <div class="logo-T">
            <!-- <a href="https://www.t-systems.com/de/en" target="_blank" class="logo-footer"> -->
            <a class="logo-footer">
                <img src="./images/logoNombreWhite.png" alt="">
            </a>
        </div>
        <div class="logos-redes">
            <!-- <a href="https://www.linkedin.com/company/tsystemsmexico/mycompany/" class="redes-logos" target="_blank"> -->
            <a class="redes-logos">
                <img src="./icons/LinkedIn.png" alt="">
            </a>
            <!-- <a href="https://twitter.com/TSystemsMX" class="redes-logos" target="_blank"> -->
            <a class="redes-logos">
                <img src="./icons/Twitter.png" alt="">
            </a>
            <!-- <a href="https://www.facebook.com/TSystemsMX/" class="redes-logos" target="_blank"> -->
            <a class="redes-logos">
                <img src="./icons/Facebook.png" alt="">
            </a>
        </div>
    </div>
</div>