<div class="section2-1">
    <div class="title-container">
        <h2 class = "second-title" data-aos="fade-up"> In order to navigate the complexity of our current business enviroment we need to <strong class="strong-Neo"> simplify the ways we collaborate. </strong></h2>
    </div>
    <div class="v-line" data-aos="zoom-in"> </div>

    <div class="top-tabla">
        <h3 class = "third-title" data-aos="fade-up"> Simplicity </h3>
        <h5 class = "fifth-title" data-aos="fade-up"> Allows companies to adapt faster to the continuum of change. </h5>
    </div>
</div>