<div class="section2-2">
    <div class="container-section-2">
        <h1 class="h1-section-2" data-aos="fade-up">CLOUD APPS LAB</h1>
        <h4 class="h4-section-2" data-aos="fade-up">Enterprise Architecture + Process Management + Scrum + DevOps + Cloud + Innovative and creative talented minds</h4>
    </div>
</div>