<section class="wrapper-work">
    <!-- <h1>How we Work</h1>
    <img src="./images/diagramaWork.png" alt=""> -->
    <div class="work-container">        
        <div class="flecha-container" data-aos="fade-right">
            <img src="./icons/right-arrow.png" alt="" id="izquierda" class="flecha-opaca rotacion-izquierda">
        </div>
        <div class="text-container-sec2">
            <div class="h1-work-wrapper">
                <h1 class="work-h1">Our Work</h1>
            </div>
            
            <div class = "tabla" data-aos="fade-right">
                <h4 class = "type-work"> Scrum </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper"> 
                    <p class= "work-explanation"> A framework that helps us to <strong> generate value through adaptive solutions </strong> for complex problems. </p>
                    <p class= "work-optional" >Innovation · Productivity · Flexibility</p>
                </div>
            </div>
            <div class = "tabla hide">
                <h4 class = "type-work" style="font-size: 2rem;"> Enterprise Architecture </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "work-explanation"> Managing conflicting approaches to the success of large-scale organizations.</p>
                    <p class= "work-optional" >TOGAF</p>
                </div>
            </div> 
            <div class = "tabla hide">
                <h4 class = "type-work"> Process Management </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "work-explanation"> Method for designing, executing, analyzing and continuously improving the processes of an organization goal-oriented and <strong>data driven</strong>.</p>
                    <p class= "work-optional" >Design · Model · Execution · Control · Optimization</p>
                </div>
            </div>
            <div class = "tabla hide">
                <h4 class = "type-work"> DevOps </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "work-explanation"> A way to approach culture, automation and platform design to generate <strong> greater business value and responsiveness,</strong> through the agile delivery of high-quality services.</p>
                </div>
            </div>
            <div class = "tabla hide">
                <h4 class = "type-work"> Cloud </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "work-explanation"> Use of a network of remote services connected to the Internet to store, manage, and process data, servers, databases, networks, and software.</p>
                </div>
            </div> 

            <div class="paginacion">
                <div class="boton selected"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
            </div>
        </div>
        <div class="flecha-container" data-aos="fade-right">
            <img src="./icons/right-arrow.png" alt="" id="derecha" class="flecha">
        </div>
    </div>
</section>