<div id="menu-principal" class="menu-navbar hide">
    <div class="toggle-container">
        <div id="toggle-menu" class="item">
            <div class="line"></div>
            
        </div>
    </div>
    <div class="menu">
        <h1 class="titulo-navbar">Cloud Apps Lab</h1>
        <a class="item-menu" href="demo">DEMO</a>
        <a class="item-menu" href="work">OUR WORK</a>
        <a class="item-menu" href="about">ABOUT US</a>
    </div>
    <div class="black-menu">
        <a class="black-item" href="about">CONTACT US</a>
    </div>
</div>