<div class="navbar">
    <a href="#section-principal" class="item">
        <img class="logo" src="./images/TS logo 1.png" alt="">
    </a>
    <div id="toggle-menu-nav" class="item">
        <div class="line"></div>
        
    </div>
</div>
