<section id="second-section" class="section4">
    <div class="main-wrapper-4">
        <h1 class="heading-4">Cloud Apps Lab: <strong>Core Value</strong></h1>
            <div class="semi-circulo">  
                <div class="content-circle">
                    <h1 class="num-4">1</h1> 
                    <h3 class="desc-4"> Identify a product or service (DT or customer's) that we want to enhance.</h3>
                </div>
            </div>

    </div>
</section>