<section id="fourth-section" class="section4">
    <div id="4-1-wrapper"class="main-wrapper-4">
        <h1 class="heading-4">Cloud Apps Lab: <strong>Core Value</strong></h1>
        <div class="circulos semi-circulo">  
            <div class="content-circle">
                <h1 class="num-4">1</h1> 
                <h3 class="desc-4"> Identify a product or service (DT or customer's) that we want to enhance.</h3>
            </div>
        </div>
        <div class="circulos semi-circulo hide">  
            <div class="content-circle">
                <h1 class="num-4">2</h1> 
                <h3 class="desc-4"> Deep dive into the service Value chain behind the customer experience journey. </h3>
            </div>
        </div>
        <div class="circulos semi-circulo hide">  
            <div class="content-circle">
                <h1 class="num-4">3</h1> 
                <h3 class="desc-4"> Lean the functions and roles needed to optimize The value stream.</h3>
            </div>
        </div>
        <div class="circulos semi-circulo hide">  
            <div class="content-circle">
                <h1 class="num-4">4</h1> 
                <h3 class="desc-4"> Completely digitize processes and automate the most you need.</h3>
            </div>
        </div>
        <div class="circulos semi-circulo hide">  
            <div class="content-circle">
                <h1 class="num-4">5</h1> 
                <h3 class="desc-4">Measure everything and use the data provided to improve your business service.</h3>
            </div>
        </div>
    </div>

    <div class="agrupado-wrapper circulos hide">
        <h1 class="text-90">Cloud Apps Lab: <strong>Core Value</strong></h1>
        <div class="circles-wrapper">
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">1</h1> 
                    <h3 class="desc-4-new"> Identify a product or service (DT or customer's) that we want to enhance.</h3>
                </div>
            </div>
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">2</h1> 
                    <h3 class="desc-4-new"> Deep dive into the service Value chain behind the customer experience journey. </h3>
                </div>
            </div>
            <div class="semi-circulo-new">  
                <div class="content-circle">
                    <h1 class="num-4-new">3</h1> 
                    <h3 class="desc-4-new"> Lean the functions and roles needed to optimize The value stream.</h3>
                </div>
            </div>
            <div class="last-circles">
                <div class="semi-circulo-new">  
                    <div class="content-circle">
                        <h1 class="num-4-new">4</h1> 
                        <h3 class="desc-4-new"> Completely digitize processes and automate the most you need.</h3>
                    </div>
                </div>
                <div class="semi-circulo-new">  
                    <div class="content-circle">
                        <h1 class="num-4-new">5</h1> 
                        <h3 class="desc-4-new">Measure everything and use the data provided to improve your business service.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>