<section id="sixth-section" class="section6">
    <div class="wrapper-section-6">
        <h1 class="h1-section-6" data-aos="zoom-in">
            The most exciting part… the <strong> Cloud Apps Lab </strong> is run by <strong> passionate people </strong>who will transform relics into the next collaboration and business productivity tools.
        </h1>
        <button class="button-sec6">ABOUT US</button>
    </div>
</section>
