<section class = "section2">
<div class="section2-1">
    <div class="title-container">
        <h2 class = "second-title"> In order to navigate the complexity of our current business enviroment we need to <b> simplify the ways we collaborate. </b></h2>
    </div>
    <div class="v-line"> </div>

    <div class="tabla">
        <h3 class = "third-title"> Simplicity </h3>
        <h5 class = "fifth-title"> Allows companies to adapt faster to the continuum of change. </h5>
    </div>
</div>
    <h1 class="first-title"> Innovative & talented minds </h1>

    <div class = "tabla">
        <h4 class = "fourth-title"> Scrum </h4>
        <p class = "paragraph"> A framework that helps us to generayte value through adaptive solutions for complex problems. </p>
    </div>



</section>