<section id="second-section" class="section2">
    
    <div class="section2-1">
        <div class="title-container">
            <h2 class = "second-title"> In order to navigate the complexity of our current business enviroment we need to <b> simplify the ways we collaborate. </b></h2>
        </div>
        <div class="v-line"> </div>

        <div class="top-tabla">
            <h3 class = "third-title"> Simplicity </h3>
            <h5 class = "fifth-title"> Allows companies to adapt faster to the continuum of change. </h5>
        </div>
    </div>

    <div class="section2-2">
        <div class="flecha-container">
            <img src="./icons/flecha50.png" alt="" id="izquierda" class="flecha rotacion-izquierda">
        </div>
        <div class="text-container-sec2">
            <h1 class="first-title"> Innovative & talented minds </h1>

            <div class = "tabla">
                <h4 class = "fourth-title"> Scrum </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "paragraph"> A framework that helps us to <strong> generate value through adaptive solutions </strong> for complex problems. </p>
                    <p class= "paragraph-optional" >innovación · productividad · flexibilidad</p>
                </div>
            </div>
            <div class = "tabla hide">
                <h4 class = "fourth-title"> Enterprise Architecture </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "paragraph"> Managing conflicting approaches to the success of large-scale organizations.</p>
                    <p class= "paragraph-optional" >TOGAF</p>
                </div>
            </div>
            <div class = "tabla hide">
                <h4 class = "fourth-title"> Process Management </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "paragraph"> Method for designing, executing, analyzing and continuously improving the processes of an organization goal-oriented.</p>
                    <p class= "paragraph-optional" >Design · Model · Execution · Control · Optimization</p>
                </div>
            </div>
            <div class = "tabla little hide">
                <h4 class = "fourth-title"> DevOps </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "paragraph"> A way to approach culture, automation and platform design to generate <strong> greater business value and responsiveness,</strong> through the agile delivery of high-quality services.</p>
                </div>
            </div>
            <div class = "tabla little hide">
                <h4 class = "fourth-title"> Cloud </h4>
                <div class="vertical-line"></div>
                <div class="p-wrapper">
                    <p class= "paragraph"> Use of a network of remote services connected to the Internet to store, manage, and process data, servers, databases, networks, and software.</p>
                </div>
            </div>

            <div class="paginacion">
                <div class="boton selected"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
                <div class="boton"></div>
            </div>
        </div>
        <div class="flecha-container">
            <img src="./icons/flecha50.png" alt="" id="derecha" class="flecha rotacion-derecha">
        </div>
    </div>

</section>